In [24]:
import statsmodels.api as sm
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [25]:
data = pd.read_csv("nyc_cyclist_counts.csv")
data

          Date  HIGH_T  LOW_T  PRECIP  BB_COUNT
0     1-Apr-17    46.0   37.0    0.00       606
1     2-Apr-17    62.1   41.0    0.00      2021
2     3-Apr-17    63.0   50.0    0.03      2470
3     4-Apr-17    51.1   46.0    1.18       723
4     5-Apr-17    63.0   46.0    0.00      2807
..         ...     ...    ...     ...       ...
209  27-Oct-17    62.1   48.0    0.00      3150
210  28-Oct-17    68.0   55.9    0.00      2245
211  29-Oct-17    64.9   61.0    3.03       183
212  30-Oct-17    55.0   46.0    0.25      1428
213  31-Oct-17    54.0   44.0    0.00      2727

[214 rows x 5 columns]

In [26]:
X = data.iloc[:, [1,2,3]].to_numpy()
y = data.iloc[:, [4]].to_numpy()

In [47]:
exog, endog = sm.add_constant(X), y
mod = sm.GLM(endog, exog, family=sm.families.Poisson(link=sm.families.links.log()))
res = mod.fit()
display(res.summary())
y_pred = res.predict(exog)

<class 'statsmodels.iolib.summary.Summary'>
"""
                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:                  214
Model:                            GLM   Df Residuals:                      210
Model Family:                 Poisson   Df Model:                            3
Link Function:                    log   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -16089.
Date:                Thu, 12 Nov 2020   Deviance:                       30113.
Time:                        10:57:48   Pearson chi2:                 2.94e+04
No. Iterations:                     5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          7.0321      0.010    675.941      0.000       7.012       7.052
x1             0.0232      0.000     78.183      0.000       0.023       0.024
x2            -0.0130      0.000    -40.672      0.000      -0.014      -0.012
x3            -0.7842      0.007   -115.225      0.000      -0.798      -0.771
==============================================================================
"""

In [48]:
data['preds'] = y_pred

In [49]:
data

          Date  HIGH_T  LOW_T  PRECIP  BB_COUNT        preds
0     1-Apr-17    46.0   37.0    0.00       606  2037.066983
1     2-Apr-17    62.1   41.0    0.00      2021  2810.128920
2     3-Apr-17    63.0   50.0    0.03      2470  2493.640949
3     4-Apr-17    51.1   46.0    1.18       723   808.721689
4     5-Apr-17    63.0   46.0    0.00      2807  2689.087230
..         ...     ...    ...     ...       ...          ...
209  27-Oct-17    62.1   48.0    0.00      3150  2565.999474
210  28-Oct-17    68.0   55.9    0.00      2245  2655.702720
211  29-Oct-17    64.9   61.0    3.03       183   214.918621
212  30-Oct-17    55.0   46.0    0.25      1428  1835.822906
213  31-Oct-17    54.0   44.0    0.00      2727  2239.593446

[214 rows x 6 columns]