In [3]:
import statsmodels.api as sm
import pandas as pd

In [5]:
data = pd.read_csv("nyc_cyclist_counts.csv")
data

          Date  HIGH_T  LOW_T  PRECIP  BB_COUNT
0     1-Apr-17    46.0   37.0    0.00       606
1     2-Apr-17    62.1   41.0    0.00      2021
2     3-Apr-17    63.0   50.0    0.03      2470
3     4-Apr-17    51.1   46.0    1.18       723
4     5-Apr-17    63.0   46.0    0.00      2807
..         ...     ...    ...     ...       ...
209  27-Oct-17    62.1   48.0    0.00      3150
210  28-Oct-17    68.0   55.9    0.00      2245
211  29-Oct-17    64.9   61.0    3.03       183
212  30-Oct-17    55.0   46.0    0.25      1428
213  31-Oct-17    54.0   44.0    0.00      2727

[214 rows x 5 columns]

In [1]:
def train_test_splitter(data_to_split):
    np.random.seed(1)
    class_1_data = data_to_split[data_to_split['Class'] == categories[0]]
    class_2_data = data_to_split[data_to_split['Class'] == categories[1]] 
    class_3_data = data_to_split[data_to_split['Class'] == categories[2]]
    class_data = [class_1_data, class_2_data, class_3_data]

    classes_train_data = []
    classes_test_data = []
    for data in class_data:
        mask = np.random.rand(len(data)) < 0.8
        classes_train_data.append(data[mask])
        classes_test_data.append(data[~mask])
    train_data = pd.concat(classes_train_data)
    test_data = pd.concat(classes_test_data)
    return(train_data, test_data)